*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main1{
    width: 100vw;
    height: 100vh;

}
.navbar{
    width: 100vw;
    height: 3rem;
    gap: 10px;
    background-color: black ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
}
ul{
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    padding: 4px;
    align-items: center;
    font-size: 10px;
}
navbar > img{
    width: 30px;
}
d1 > img{
    width: 100px;
}
button{
    background-color: yellow;
    padding: 8px;
    width: 70px;
    height: 30px;
    border: none;
    box-shadow: 5px 5px white;
}
.btn1:hover{
    background-color: red;
}
.maincontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
}
.videos{
    height: 7rem;


}
.videos > img{
    width: 17rem;
}
.main2{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    background-image: url(/Assets/tharun.png);
    background-position:    center bottom;
    background-repeat: no-repeat;
    background-size: 300px;
    gap: 25px;
}
.main2 > p{
    text-align: center;
}
.box{
    width:300px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    justify-content: center;
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.div2{
    display: flex;
    align-items: center;
    gap: 8px;

}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lr{
    display: 100vw;
    gap: 300px;
    display: flex;
    justify-content: space-evenly;
}
.main3{
    width: 100vw;
    height: 160vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.learn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 60%;
    gap: 20px;
}
#img1{
    width: 600px;
    height: 65%;
    border-radius: 10px;
}
#img2{
    width: 600px;
    height: 45%;
    border-radius: 10px;
}
#img3{
    
    border-radius: 10px;
}
.learn1{
    display: flex;
    
    gap: 20px;
    flex-direction: column;
}

.main4{
    width: 100vw;
    height: 100vh;
    
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main4content{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;

}
.main4content > img{
    width: 500px;
    height: 200px;
    border-radius: 50%;
}